.header {
    background: var(--foreground);
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.header nav div {
    display: flex;
    gap: 0.25rem;
}

.header nav a {
    text-decoration: none;
    color: var(--text-primary);
    cursor: pointer;
}

.link {
    padding: .5rem .75rem;
    border-radius: var(--border-radius);
}

.active {
    background: var(--background);
    transition: background var(--transition-s);
}

.iconLink {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: max-content;
}

.iconLink div {
    background-color: var(--accent);
    padding: 0.25rem;
    border-radius: var(--border-radius);
}


.iconLink div svg {
    width: 2rem;
    color: var(--foreground);
}