:root {
  --background: #e8eeee;
  --foreground: #F7FAFA;
  --background-dark: #BCC7C7;
  --accent: #4F8A8B;
  --text-primary: #2F3E3E;
  --text-secondary: #6C7A7A;
  --button-bg: #3B6F6F;
  --button-hover-bg: #367070;
  --border: #B0C4C4;

  --border-radius: 8px;

  --shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 8px 16px rgba(0, 0, 0, 0.15);

  --transition-s: 100ms ease;
  --transition-m: 250ms ease;
  --transition-l: 500ms ease;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-width {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.card {
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-light);
  padding: 1rem;
  transition: box-shadow var(--transition-s);
}

.card:hover {
  box-shadow: var(--shadow-dark);
}

.chip {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  max-width: max-content;
  border-radius: 2rem;
}

a {
  text-decoration: none;
  text-align: center;
}